/* App.css */
.main-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .form-container,
  .list-container,
  .total-container {
    margin-bottom: 20px;
  }
  
  .total-container p {
    text-align: right;
    font-size: 18px;
    color: #555;
  }
  
  .total-container p span {
    font-weight: bold;
    color: #000;
  }
  